<div ng-controller="chatController">
	<div ng-if="!chatIsLoaded">
		Ładowanie...
	</div>
    <div class="row" ng-repeat="chatItem in chatItems">
        <div class="col-md-6">
            <div class="panel" ng-class="{adminMessage: chatItem.isAdmin}">
                <span class="chatUser">{{ls.getUsernameById(chatItem.iduser)}}</span> <span class="chatDate">{{chatItem.date}}</span><br/>
                 {{chatItem.text}}
            </div>
        </div>
    </div>
    <form>
		<input ng-model="newMessage.text" placeholder="Wpisz wiadomość..." type="text"/>
		<button ng-click="sendMessage()" class="btn btn-primary">Wyślij</button>
    </form>
</div>
