<div ng-controller="chatController">
    <div class="row" ng-repeat="chatItem in chatItems">
        <div class="col-md-6">
            <div class="panel" ng-class="{adminMessage: chatItem.isAdmin}">
                <b>{{ls.getUsernameById(chatItem.iduser)}} ({{chatItem.iduser.split(":")[1]}}):</b> {{chatItem.text}}
            </div>
        </div>
    </div>
    <form>
		<input ng-model="newMessage.text" placeholder="Wpisz wiadomość..." type="text"/>
		<button ng-click="sendMessage()" class="btn btn-primary">Wyślij</button>
    </form>
</div>
