<div ng-controller="chatController">
	<div ng-if="!chatIsLoaded">
		Ładowanie...
	</div>
    <div class="chatContainer" id="chat_container">
        <div class="row" ng-repeat="chatItem in chatItems">
            <div class="col-md-11">
                <div class="panel" ng-class="{adminMessage: chatItem.isAdmin}">
                    <span class="chatUser">{{ls.getUsernameById(chatItem.iduser)}}</span> <span class="chatDate">{{chatItem.date}}</span><br/>
                     {{chatItem.text}}
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="form-group">
            <div class="col-md-8">
                <input ng-model="newMessage.text" placeholder="Wpisz wiadomość..." type="text" class="form-control"/>
            </div>
            <div class="col-md-4">
                <button ng-click="sendMessage()" class="btn btn-primary">Wyślij</button>
            </div>
        </div>
    </form>
</div>
