<div data-ng-controller="TicketAddController">
    <div class="row">
        <div class="col-md-12">
            <h1>Nowe zgłoszenie</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Tytuł</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" data-ng-model="new_ticket.title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Ulica</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" data-ng-model="new_ticket.place" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Opis zgłoszenia</label>
                    <div class="col-md-7">
                        <textarea class="form-control" data-ng-model="new_ticket.description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 text-right">
                        <a href="/#!/tickets" class="btn btn-link">powrót do listy</a>
                        <a href="/#!/tickets/add" data-ng-click="addNewTicket($event)" class="btn btn-primary">dodaj</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>