<div data-ng-controller="TicketShowController">
    <div data-ng-repeat="item in ticket">
        <div class="row">
            <div class="col-md-12">
                <h1>Zgłoszenie #{{ item.idticket }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tytuł</label>
                        <div class="col-md-7 form-control-static">
                            {{ item.title }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ulica</label>
                        <div class="col-md-7 form-control-static">
                            {{ item.place }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Opis zgłoszenia</label>
                        <div class="col-md-7 form-control-static">
                            {{ item.description }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Zgłoszone przez</label>
                        <div class="col-md-7 form-control-static">
                            {{ ls.getUsernameById(item.userid) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 text-right">
                            <a href="/#!/tickets" class="btn btn-link">powrót do listy</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- komentarze -->
<div class="container-fluid" data-ng-controller="CommentsShowController">
  <div class="row" data-ng-repeat="ticketComments in comments">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ ticketComments.author }}
        <span class="glyphicon glyphicon-minus pull-right"></span>
        <span class="badge pull-right">0</span>
        <span class="glyphicon glyphicon-plus pull-right"></span>
      </div>
      <div class="panel-body">
        {{ ticketComments.comment }}
      </div>
    </div>
  </div>
</div>

<!-- dodawanie komentarzy -->
<form class="form-horizontal" role="form" data-ng-controller="CommentsAddController">          
    <div class="form-group">
    <label for="comment" class="col-sm-2 control-label">Komentarz</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="comment" data-ng-model="newComment.comment"></textarea>
        </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" data-ng-click="addComment($event)" class="btn btn-default">Dodaj komentarz</button>
    </div>
    </div>
</form>