<div ng-controller="loginController">
    <div class="row">
        <div class="col-md-12">
            <h1>Zaloguj się</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div ng-show="state==0 || state==2">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Login</label>
                        <div class="col-md-7">
                            <input ng-model="loginUser" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Hasło</label>
                        <div class="col-md-7">
                            <input ng-model="loginPassword" type="password" class="form-control">
                        </div>
                    </div>

                    <div ng-show="state==2" class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-7">Błędne dane, spróbuj jeszcze raz</div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 text-right">
                            <button ng-click="doLogin()" class="btn btn-primary">Zaloguj</button>
                        </div>
                    </div>
                </div>
                <div ng-show="state==1">
                    Zalogowano pomyślnie!
                </div>
            </form>
        </div>
    </div>
</div>